@import 'font-awesome';

//Colors
$orange: #FF8811;
$off-yellow: #FDDB54;
$yellow: #FFFF66;
$light-brown: #786C54;



$caption-font-size: 3em;
$topbar-background: $white;


@import 'custom/hero';
@import 'custom/nav';





