@import "~csspin/css/csspin-balls.css";

.loader {
  padding-left: 20%;
  padding-top: 40%;
}

.hide { display: none; }

.captcha {
  border-radius: 10px 40px;
  margin-top: 10px;
}

.invalid {
  border-color: #f00;
}

.untouched {
  border-color: #fddb54;
}
