<div class="contact-form">
    <form class="contact-us-form" v-on:submit.prevent>
        <input v-model.trim="fullname" type="text" placeholder="Full name" required>
        <input v-model.trim="email" type="email" placeholder="Email" required>
        <input v-model.trim="telephone" type="text" placeholder="Telephone" required>
        <textarea v-model.trim="message" name="message" id="" rows="12" placeholder="Type your message here"></textarea>
        <div class="contact-us-form-actions">
            <input @click="submitForm" type="submit" class="button" value="Send it" v-bind:disabled="isSubmitDisabled" />
            <div id="recaptcha"></div>
        </div>
        
    </form>
    <div class="hide">

    </div>
</div>
