<div id="program">
    <h2>Programs</h2>
    <ul>
      <li>Daily
        <ul>
          <li>Schedule</li>
          <li>Menu</li>
        </ul>
      </li>
      <li>Preschool
        <ul>
          <li>Experience
            <ul>
              <li>Tea Party</li>
              <li>Banquet</li>
              <li>Graduation</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Daycare and Nursery
        <ul>
          <li>Age Range</li>
          <li>Activities</li>
          <li>Staff</li>
        </ul>
      </li>
    </ul>
  </div>
