<div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <button class="orbit-previous">
                <span class="show-for-sr">Previous Slide</span>
                <span class="nav fa fa-chevron-left fa-3x"></span>
            </button>
            <button class="orbit-next">
                <span class="show-for-sr">Next Slide</span>
                <span class="nav fa fa-chevron-right fa-3x"></span>
            </button>
        </div>
        <ul class="orbit-container">
            {{#each slides}}
            <li class="is-active orbit-slide" id="orbit-slide-{{@index}}">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="assets/img/" alt="">
                    <figcaption class="orbit-caption">
                        <blockquote>{{caption}}</blockquote>
                    </figcaption>
                </figure>
            </li>
            {{/each}}
        </ul>
    </div>
    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span
                class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
</div>
