<div class="column">
    <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge="500" data-tabs id="deeplinked-tabs">
        <li class="tabs-title is-active"><a href="#panel1d" aria-selected="true">Nursery</a></li>
        <li class="tabs-title"><a href="#panel2d">Daycare</a></li>
        <li class="tabs-title"><a href="#panel3d">Preschool</a></li>
      </ul>
      
      <div class="tabs-content" data-tabs-content="deeplinked-tabs">
        <div class="tabs-panel is-active" id="panel1d">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="tabs-panel" id="panel2d">
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        </div>
        <div class="tabs-panel" id="panel3d">
          <img class="thumbnail" src="assets/img/PaseoPreschoolGraduation2016-15.jpg">
        </div>
      </div>
    </div>
