<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="top-bar" id="main-menu" >
      <div class="top-bar-left">
        <ul class="menu" data-magellan>
          <li><a href="#home">Paseo Daycare and Preschool</a></li>
          <li><a href="#classes">Classes</a></li>
          <li><a href="#registration-fees">Registration</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Paseo Baptist Church</a></li>
          <li><a href="#">The Martin Family</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="large-3 columns" data-sticky-container>
    <nav class="columns sticky" data-sticky data-anchor="#main-menu" data-sticky-on="large">
      <ul class="vertical menu" data-magellan>
        <li><a href="#first">First Arrival</a></li>
        <li><a href="#second">Second Arrival</a></li>
        <li><a href="#third">Third Arrival</a></li>
      </ul>
    </nav>
  </div> -->
