<div class="grid-container">
    <blockquote>
        “When you asked me what I did in school today and I say, 'I just played.' Please don’t misunderstand me. For you
        see, I am learning as I play. I am learning to enjoy and be successful in my work. Today I am a child and my
        work is play.”
        Anita Wadley, 1974.
    </blockquote>
    <h1>About Us</h1>
    <div class="grid-x" >
        <div class="large-auto cell">
            <p>
                <span>We are</span> a community Christian daycare and preparatory preschool offering quality care for children aged 18 months to 6 years old. We strive to develop a Godly character through Biblical stories, verses and songs that fosters an early awareness of God’s unconditional love. Our day begins with
                prayer and the reading of God's Word.
            </p>
        </div>
        <div class="large-auto cell">
            <p>
                <span>We cater</span> to the well-being of the child. This includes the emotional, social and physical aspects of the child's development. Healthy, physically active and well-nourished children are motivated to learn. We take pride in providing a clean, safe and educational environment for young children and their families.
            </p>

        </div>
        <div class="large-auto cell">
            <p>
                <span>We believe</span> that each child is unique. We want our learners to be positive, well-balanced,
                confident individuals. This includes developing critical thinking and problem-solving skills. Our
                children are engaged in developmentally appropriate activities encouraging them to be
                life-long learners.
            </p>

        </div>
    </div>
</div>
