<div class="main-hero">
    <div class="main-hero__image">
        <div class="main-hero__caption">
            <h1>Paseo Daycare and Preschool</h1>
            <p>Early education based on Christian Values</p>
        </div>
        <div class="main-hero__blockquote">
        <blockquote>
            “When you asked me what I did in school today and I say, 'I just played.' Please don’t misunderstand me. For you
            see, I am learning as I play. I am learning to enjoy and be successful in my work. Today I am a child and my
            work is play.”
            Anita Wadley, 1974.
        </blockquote>
        </div>
    </div>
</div>
