<div class="app-dashboard shrink-medium">
  <!--<div class="row expanded app-dashboard-top-nav-bar">-->
    <!--<div class="columns medium-2">-->
      <!--<button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>-->
      <!--<a class="app-dashboard-logo">Services</a>-->
    <!--</div>-->
    <!--<div class="columns show-for-medium">-->
      <!--<div class="app-dashboard-search-bar-container">-->
        <!--<input class="app-dashboard-search" type="search" placeholder="Search">-->
        <!--<i class="app-dashboard-search-icon fa fa-search"></i>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="columns shrink app-dashboard-top-bar-actions">-->
      <!--<button href="#" class="button hollow">Logout</button>-->
      <!--<a href="#" height="30" width="30" alt=""><i class="fa fa-info-circle"></i></a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="app-dashboard-body off-canvas-wrapper">
    <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
      <div class="app-dashboard-sidebar-title-area">
        <div class="app-dashboard-close-sidebar">
          <h3 class="app-dashboard-sidebar-block-title">Items</h3>
          <!-- Close button -->
          <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
          </button>
        </div>
        <div class="app-dashboard-open-sidebar">
          <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
          </button>
        </div>
      </div>
      <div class="app-dashboard-sidebar-inner">
        <ul class="menu vertical">
          <li><a href="#" class="is-active">
            <i class="large fa fa-institution"></i><span class="app-dashboard-sidebar-text">Meals</span>
          </a></li>
          <li><a>
            <i class="large fa fa-hourglass"></i><span class="app-dashboard-sidebar-text">Hours</span>
          </a></li>
          <li><a>
            <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Transport</span>
          </a></li>
          <li><a href="#" class="is-active">
            <i class="large fa fa-institution"></i><span class="app-dashboard-sidebar-text">Age Groups</span>
          </a></li>
          <li><a>
            <i class="large fa fa-hourglass"></i><span class="app-dashboard-sidebar-text">Children's Rights</span>
          </a></li>
          <!--<li><a>-->
            <!--<i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Industry</span>-->
          <!--</a></li>-->
          <!--<li><a href="#" class="is-active">-->
            <!--<i class="large fa fa-institution"></i><span class="app-dashboard-sidebar-text">Buildings</span>-->
          <!--</a></li>-->
          <!--<li><a>-->
            <!--<i class="large fa fa-hourglass"></i><span class="app-dashboard-sidebar-text">Time</span>-->
          <!--</a></li>-->
          <!--<li><a>-->
            <!--<i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Industry</span>-->
          <!--</a></li>-->
        </ul>
      </div>
    </div>

    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
      <h2 class="text-center">Operating Hours</h2>
      <p> Operating Hours
        Day-care - 7:00 – 16:30
        Pre-school – 7:00 – 13:00</p>

      <p>
        Meals
        •	Porridge is provided for all children from 7:00 to 8:00.
        •	Parents are required to provide a nutritional snack for 10:00; this should include a fruit juice. If children stay past 14:00 then additional snack should be included as well.
        •	Lunch is provided for Day-care and Toddlers.
        •	Pre-school children must bring their own lunches.

      </p>
      <p>
        Transport
        Details are available for transport upon request. The Pre-school/Day-care Center does not have its own transport.
      </p>

      <p>Age Groups</p>

      <p>        The Declaration of Children’s Rights
        Anonymous

        All children have the right to a name, enough to eat, and a decent place to live
        All children should be looked after when they are sick, and have a right to grow up with love, affection and security.
        Disabled children have a right to special treatment and education.
        All children have a right to education and should be protected from neglect, cruelty and exploitation.
        All children should not be made to work before a certain age and should be protected from discrimination.
        All children should never have to fear arrest and detention,
        And should be brought up to understand that their energy and talents should be devoted to the service of their brothers and sisters.</p>


    </div>
  </div>
</div>
