<header class="main-header">

    <nav class="grid-container top-nav affiliates">
        <div class="top-bar">
            <div class="top-bar-right">
                <ul class="menu large-horizontal">
                    <li><a href="https://www.paseo.org.za">Paseo Baptist Church</a></li>
                    <li><a href="https://www.martinsonline.org">The Martins</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="grid-container fluid main-nav">
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
            <button class="menu-icon" type="button" data-toggle="main-menu"></button>
            <div class="title-bar-left">Menu</div>
            <div class="title-bar-right icons icon-left">
                    <a href="tel:+27119472087"><i class="fa fa-phone" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="mailto:center@paseo.org.za"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
        </div>
        <div class="grid-container">
            <div class="top-bar" id="main-menu">
                <div class="top-bar-left">
                    <ul class="vertical large-horizontal menu" data-magellan>
                      {{#ifpage 'index' }}
                        {{>daycare-menu-include is-head=true}}
                      {{/ifpage}}
                      {{#ifpage 'registration'}}
                        {{>registration-menu-include}}
                      {{/ifpage}}
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu icons icon-left">
                        <li><a href="tel:+27119472087"><i class="fa fa-phone" aria-hidden="true"></i><span>+27 (11) 947
                        2087</span></a></li>
                        <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i><span>school@paseo.org.za</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>
