<footer  class="site-footer marketing-site-footer">
  <div class="row medium-unstack">

    <div class="columns">
      <h4 class="marketing-site-footer-name">Paseo Daycare and Preschool</h4>
      <div class="responsive-embed">
        {{>googlemap}}
      </div>
    </div>

    <div class="columns">
       <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>Cnr. St. Francis and St. Christopher<br>
          32 St. Francis St.<br>
          Klipspruit West, Ext. 2, Johannesburg 1812<br>
          Gauteng
        </p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>+27 (11) 947-2087</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>school@paseo.org.za</p>
      </div>
    </div>

    <div class="columns">
      <h4 class="marketing-site-footer-title">Subscribe</h4>
      <div class="mc_embed">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//paseo.us16.list-manage.com/subscribe/post?u=5a0f72943f59f122ec585d77c&amp;id=5b955e449e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Join our email list!</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a0f72943f59f122ec585d77c_5b955e449e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
      </div>
    </div>
  </div>

  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 Paseo Daycare and Preschool&nbsp;|&nbsp;Created by: <span class="byline"><a href="https://www.johan-martin.com" target="_blank">Johan Martin</a></span></p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links" data-magellan>
          {{#ifpage 'index'}}
          {{>daycare-menu-include}}
          {{/ifpage}}
          {{#ifpage 'registration'}}
          {{>registration-menu-include}}
          {{/ifpage}}
        </ul>
      </div>
    </div>
  </div>

</footer>
