<div class="grid-container">
    <h1>Our Program</h1>
    <div class="grid-x">
        <div class="cell small-12 large-8">
        {{>daycare-gallery images=daycare.nursery}}
        </div>
        <div class="cell auto">
            <h2>Nursery</h2>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell auto">
            <h2>Daycare</h2>
        </div>
        <div class="cell small-12 large-8">
            {{>daycare-gallery images=daycare.daycare}}
        </div>
    </div>
    <div class="grid-x">
        <div class="cell small-12 large-8">
            {{>daycare-gallery images=daycare.preschool}}
        </div>
        <div class="cell auto">
            <h2>Preschool</h2>
        </div>
    </div>
</div>
