<div class="grid-container program">
    <h1>Our Programs</h1>

    <article class="nursery">
        <div class="program-gallery">
            {{>daycare-gallery images=daycare.nursery}}
        </div>
        <div class="program-detail">
            <h2>Nursery</h2>
            <p>18 Months to 3 years</p>
        </div>
    </article>

    <article class="daycare">
        <div class="program-detail">
            <h2>Daycare</h2>
            <p>3 to 5 years</p>
        </div>
        <div class="program-gallery">
            {{>daycare-gallery images=daycare.daycare}}
        </div>
    </article>

    <article class="preschool">
        <div class="program-gallery">
            {{>daycare-gallery images=daycare.preschool}}
        </div>
        <div class="program-detail">
            <h2>Preschool</h2>
            <p>5 to 6 years</p>
        </div>
    </article>
</div>
