<div class="grid-container">
    <div class="marketing-site-features">
        <h2 class="marketing-site-features-headline">Classes</h2>
        <p class="marketing-site-features-subheadline subheader">Classes for different groups</p>
        <div class="row">
            <div class="small-12 medium-4 columns">
                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                <h4 class="marketing-site-features-title">Nursery</h4>
                <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-12 medium-4 columns">
                <i class="fa fa-angellist" aria-hidden="true"></i>
                <h4 class="marketing-site-features-title">Daycare</h4>
                <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-12 medium-4 columns">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                <h4 class="marketing-site-features-title">Preschool</h4>
                <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>
