<div class="contact-us-section">
    <div class="row medium-unstack">
        <div class="columns contact-us-section-left">
            <h1 class="contact-us-header">Other Info</h1>
            <dl>
                <dt class="registration">Registration</dt>
                <dd>
                    A registration fee, toiletry fee and first month's school fees are required upon registration. The
                    toiletry fee includes supplies for the year.
                </dd>
                <dd>School fees are due on the 1st of the month.</dd>
                <dd>10% discount for paying all school fees in advance for the year.</dd>
                <dd>5% discount for siblings from the same house.</dd>
                <dd>3% discount for Paseo Baptist Church members.</dd>
                <dt class="hours">Operating Hours</dt>
                <dd>Monday - Friday</dd>
                <dd>Nursery and Daycare: 7:00 - 16:30</dd>
                <dd>Preschool: 7:00 - 13:00</dd>
                <dt class="meals">Meals</dt>
                <dd>Porridge is provided for all children from 7:00 to 8:00.</dd>
                <dd>Parents must provide a nutritional snack for 10:00. An additional snack must be provided for
                    children staying past 14:00.</dd>
                <dd>Lunch is provided for daycare and nursery children. Preschool children must bring their own lunches.</dd>
                <dt class="transportation">Transportion</dt>
                <dd>We can put you in touch with transport providers serving the center.</dd>
            </dl>
        </div>
        <div class="columns contact-us-section-right">
            <h1 class="contact-us-header">Email Us</h1>
            <div id="contact-us-form">
                <contact-us-form>
            <form class="contact-us-form">
                <input type="text" placeholder="Full name">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Telephone">
                <textarea name="message" id="" rows="12" placeholder="Type your message here"></textarea>
                <div class="contact-us-form-actions">
                    <input type="submit" class="button" value="Send it" disabled/>
                </div>
            </form>

                </contact-us-form>
            </div>

        </div>
    </div>
</div>
