<div class="grid-container">
<h1>Programs</h1>
<div class="grid-x">
    <div class="small-3 cell">
        <h2>Preschool</h2>
        <img class="thumbnail" src="http://baconmockup.com/300/200" alt="bacon">
    </div>
    <div class="cell small-9">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
        </ul>

    </div>
</div>
<div class="grid-x">
    <div class="cell small-9">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
        </ul>
    </div>
    <div class="cell small-3">
        <h2 class="align-right">Daycare</h2>
        <img class="thumbnail" src="http://baconmockup.com/300/200" alt="bacon">
    </div>
</div>
<div class="grid-x">
    <div class="cell small-3">
        <h2>Nursery</h2>
        <img class="thumbnail" src="http://baconmockup.com/300/200" alt="bacon">
    </div>
    <div class="cell small-9">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis earum ipsum nam perferendis provident quas quisquam quos suscipit ullam! Cum cumque dolorum iusto perspiciatis. Dolorem nulla sunt tempora tempore.</li>
        </ul>

    </div>
</div>
</div>
