<h1>About Us</h1>
<div class="grid-x">
    <div class="cell small-4">
        <p>
            We are a community based Christian day-care center and pre-school offering quality care for children aged 18 months to 6 years old, and an effective school readiness program for children entering school the following year.
        </p>
    </div>
    <div class="cell small-4">
        <p>
            Our program and educational strategy caters to fit each child’s needs.
            We offer multi-dimensional education processes that prepare and direct learners through various developmental phases.
        </p>

    </div>
    <div class="cell small-4">
        <p>
            We believe each child is unique, and it is our aim to produce positive, well-balanced and confident learners.
            We aim to develop the child holistically and seek to empower each learner who finishes at our pre-school with critical thinking, and problem solving skills.
            We strive to start the process of developing leaders that develop into capable, motivated learners that will give them an edge when starting their formal schooling years.
        </p>

    </div>
</div>
