.main-nav, .main-nav .top-bar ul {
  background-color: $off-yellow;
}

.main-header .top-bar {
  background-color: $off-yellow;
}

.main-nav .top-nav, .top-nav .top-bar {
  background-color: $white;
}
.main-header a {
  color: $light-brown;
}


