/** Programs classes */
#programs {
  h1,
  h2 {
    color: $orange;
  }

  h1 {
    border-bottom: 1px solid $orange;
  }

  h2,
  p {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  

  article {
    @extend .grid-x;
    margin-bottom: 2rem;
    border-bottom-style: solid;
    border-bottom-color: $off-yellow;
    border-bottom-width: 1px  ;

    .program-detail h2 {
      font-size: 3rem;
    }

    .program-detail p {
      font-size: 2rem;
    }

    div {
      @extend .cell;
    }

    div.program-gallery {
        @extend .large-8;
      }

    div.program-detail {
        padding: 2rem;
        @extend .large-4;
        @include rotate(10);
      }

    &.daycare div.program-detail {
      @include rotate(-10);
    }

    &.nursery div.program-detail,
    &.preschool div.program-detail,
    &.daycare div.program-detail {
      @include breakpoint(large down) {
        order: -1;

        @include rotate(0);
        
        p {
          font-size: 1rem;
        }

        h2 {
          font-size: 2rem;
        }
      }
    }

  .orbit-container li.orbit-slide {
    height: 60vh;
  }
}
}
