{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}} {{title}} | {{/if}} Paseo Daycare Center</title>
    <link rel="stylesheet" href="{{root}}assets/{{#if css}}{{css}}{{else}}app.css{{/if}}">
    {{#if globals.production}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105177571-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-105177571-2');
</script>
{{/if}}
  </head>
  <body>
  {{>daycare-cookielaw}}
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{>body}}
  {{>daycare-footer}}
  <script src="{{root}}assets/vendor.js"></script>
  <script src="{{root}}assets/{{#if js}}{{js}}{{else}}app.js{{/if}}"></script>
  {{#ifpage 'index'}}
    <script src='https://www.google.com/recaptcha/api.js?onload=initCaptcha&render=explicit' async defer></script>
  {{/ifpage}}
  </body>
</html>
